{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <a class="btn btn-primary btn-sm" href="{{ path('homepage') }}">
        На главную
    </a>
    <h1>Добавить нового пассажира</h1>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}