{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div>
        <table class="table">
            <thead>
            <tbody>
            <tr>
                <td>{{ passenger }}</td>
            </tr>
            <tr>
                <td>Билет</td>
            </tr>
            <tr>
                <td>{{ flightDate.format('d.m.Y') }}</td>
            </tr>
            <tr>
                <td>{{ flight }}</td>
            </tr>
            <tr>
                <td>Цена</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}