{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div>
        <table class="table">
            <thead>
            <tbody>
            <tr>
                <td>Фамилия</td>
                <td>{{ flight }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ passenger }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}